html {
  box-sizing: border-box;
}
body {
  max-width: 412px;
  min-width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
}
.header {
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #ffffff;
}
.dolphin {
  height: 38px;
  width: 36px;
  margin-top: 24px;
}
.header_text {
  width: 100%;
  font-size: 32px;
  padding: 5px;
  margin-bottom: 22px;
  text-align: center;
  font-family: "Lato", Arial, sans-serif;
  font-weight: 800;
  color: #000000;
}
.registration_button1 {
  width: 100%;
  padding: 15px;
  border: 1px solid #ffffff;
  border-radius: 10px;
  margin: 0 auto 16px;
  text-align: center;
  font-size: 18px;
  font-family: "Lato", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  cursor: pointer;
  color: #ffffff;
  background-color: #0057ff;
}
.registration_button2 {
  width: 100%;
  padding: 15px;
  border: 1px solid #0057ff;
  border-radius: 10px;
  margin: 0 auto 16px;
  text-align: center;
  font-size: 18px;
  font-family: "Lato", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  cursor: pointer;
  color: #0057ff;
  background-color: #ffffff;
}
.people {
  width: 100%;
}