.post__header {
  font-weight: 800;
  font-size: 24px;
  padding-bottom: 25px;
  text-align: left;
}

.tweet {
  display: flex;
}

.avname {
  margin-left: 15px;
  width: 100%;
}

.avatar {
  border-radius: 50%;
  width: 55px;
  height: 100%;
}

.post__auther {
  display: flex;
  justify-content: space-between;
}
.nnname {
  flex-direction: column;
}
.name {
  font-weight: 700;
  font-size: 14px;
}

.nname {
  font-weight: 400;
  font-size: 14px;
  color: #ABACB1;
}

.timeago {
  font-weight: 400;
  font-size: 10px;
  color: #ABACB1;

}

.group {
  display: flex;
  color: #B1B1B1;
}

.group span {
  margin-right: 32px;
}

.tweet__text {
  margin: 10px 0px;
  font-weight: 400;
  font-size: 16px;
  text-align: left;
}

.tennis {
  width: 95%;
}

.line {
  width: 100%;
  height: 1px;
  background-color: #e9e9e9;
  margin: 10px 0px;
}

.regtext {
  text-align: center;
  font-weight: 800;
  font-size: 32px;
}

.loader {
  display: flex;
  flex-direction: column;
  z-index: 4;
  align-items: center;

}

.loader p{
  text-align: center;
  font-weight: 400;
  font-size: 24px;
  color: #ABACB1;
  margin-top: 4px;
}

.circle {
  width: 38px;
  height: 38px;
  border: 5px solid #e9e9e9;
  border-bottom-color: #0057ff;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }

  .minipostS_container {
   display: none;
  }

@media (min-width: 1280px) {
  .tweet {
  display: flex;
  margin-left: 179px;
  width: 633px;
}

  .post__header {
    font-size: 36px;
    margin-left: 179px;
    width: 633px;
  }
  .line {
    width: 633px;
    background-color: #fff;
  }

  .group span {
    margin-right: 64px;
  }

  .group img {
    margin-right: 6px;
  }

  .regtext {
    font-size: 42px;
    margin: 0 309px 0 330px;
  }

  .timeago {
    font-size: 14px;
  }

  .name {
    font-size: 16px;
    margin-right: 16px;
  }

  .nname {
    font-size: 16px;
  }

  .nnname {
    display: flex;
    flex-direction: row;
  }

  .posts_and_miniposts {
    display: flex;

  }

   .tweet_block {
    flex-direction: column;
  }

  .minipost_container {
    margin-left: 16px;
    display: block;
    margin-bottom: 16px;
    box-shadow: 0 4px 12px  #0000000D;
    border-radius: 12px;
    padding: 10px;
  }

  .header_tweet {
    font-size: 18px;
    font-weight: 700;
    margin-left: 16px;
    margin-bottom: 13px;
  }

  .mini_namepost {
    font-weight: 700;
    font-size: 16px;
  }

  .mini_qualitypost {
    font-weight: 400;
    font-size: 10px;
    color: #ABACB1;
  }

  .minipost {
    margin: 0 0 5px 16px;
  }

  .minipostS_container {
    width: 312px;
    display: flex;
    flex-direction: column;
  }

  .trio {
    display: flex;
    flex-direction: row;
    position: relative;
    margin-bottom: 16px;
  }

  .pic {
    margin-right: 16px;
  }

  .read {
    position: absolute;
    right: 0;
    margin-top: 10px;
    border: 2px solid #0057ff;
    border-radius: 5px;
    color: #0057ff;
    background-color: #fff;
    cursor: pointer;
    font-weight: 500;
  }
}