.people img{
  position: absolute;
  object-fit:cover;
   top:50%;
   left:50%;
   transform:translate(-50%,-50%);
}

.people {
  margin-top: 24px;
  position: relative;
  overflow:hidden;
  height:203px;
}

.statics {
  padding-top: 20px;
  margin-top: -10px;
  background-color: #0057ff;
  color: #fff;
  flex-direction: column;
  width: 100%;
}

.static__items {
  text-align: center;
  padding:0px 80px 30px 80px;
}

.static__number {
  font-size: 48px;
  font-weight: 300;
}

.static__text {
  font-size: 18px;
  font-weight: 400;
}

@media (min-width: 1280px) {
  .statics {
    display: flex;
    flex-direction: row;
    width: 960px;
    border-radius: 0 0 10px 10px;
    margin-left: 181px;
    margin-bottom: 64px;

  }

  .people {
    margin-top: -610px;
    margin-left: 680px;
    margin-bottom: 10px;
   position: relative;
   overflow:hidden;
   max-width: 1280px;
   height:640px;;
  }

  .people img {
   position: absolute;
   object-fit:cover;
   top:50%;
   left:50%;
   transform:translate(-50%,-50%);
  }
}